
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySustancia_activa_europa_con_trazaLabel">Create or edit a Sustancia Activa Europa Con Traza</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sustancia_activa_europa_con_traza.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sustancia_activa_europa_con_traza.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_real_id">Real Id</label>
            <input type="text" class="form-control" name="real_id" id="field_real_id"
                    ng-model="vm.sustancia_activa_europa_con_traza.real_id"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                    ng-model="vm.sustancia_activa_europa_con_traza.tipo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_language">Language</label>
            <input type="text" class="form-control" name="language" id="field_language"
                    ng-model="vm.sustancia_activa_europa_con_traza.language"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.sustancia_activa_europa_con_traza.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="vm.sustancia_activa_europa_con_traza.source"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
            <input type="text" class="form-control" name="date" id="field_date"
                    ng-model="vm.sustancia_activa_europa_con_traza.date"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
